<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <app-progress></app-progress>  
            </div>
            <div class="col-sm-6">
                <div class="d-flex justify-content-end">
                    <app-attempts></app-attempts>
                </div>
            </div>
        </div>      
        <div class="row">
            <div class="col">
                <h6 class="text-in-page">{{ instruction}} </h6>
                <p class="text-in-page">{{ phrases[2].phraseEng }}</p>
                <div class="mb-3">
                    <textarea 
                        class="form-control" rows="3" (input)="refreshAnswer($event)">

                    </textarea>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col col-bt">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary">Verificar</button>
                </div>  
            </div>
        </div>
    </div>
</div>
